<div class="row gx-0 gy-0">
  <div *ngIf="indoorMap.imageData == ''"  class="jumbotron vertical-center">
    <div class="container">
      <h1 class="text-center"><b>Kortet mangler</b></h1>
      <h3 class="text-center">Kortet kan importers inde i kort indstillingerne.</h3>
    </div>
  </div>

    <div *ngIf="indoorMap.imageData != ''" class="vh-100" [ngClass]="{'col-9':map?.speNodeSelected != null, 'col-12':!map?.speNodeSelected == null}" id="speDiv">
      <canvas id="mapCanvas"></canvas>
      <img hidden="true" id="mapImage" />
      <img hidden="true" id="speImage" src="../../../assets/SPE.png" />
    </div>
    <div class="col-3" *ngIf="map?.speNodeSelected != null as spe">
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
            <h3 class="text-center">{{map?.speNodeSelected?.name}}</h3>

            <div class="form-group mx-3">
                <label class="form-label mt-2">Navn</label>
                <input type="text" class="form-control" placeholder="Skriv SPE navn" *ngIf="map && map.speNodeSelected" [(ngModel)]="map.speNodeSelected.name" (change)="saveData()">
                <label class="form-label mt-2">MAC adresse</label>
                <input type="text" class="form-control" placeholder="Skriv MAC adresse" *ngIf="map && map.speNodeSelected" [(ngModel)]="map.speNodeSelected.macAdress" (change)="saveData()">

                <div class="row">
                    <div class="col-6">
                        <label class="form-label mt-2">X position</label>
                        <input type="number" class="form-control" placeholder="Skriv x position" *ngIf="map && map.speNodeSelected" [(ngModel)]="map.speNodeSelected.x" (change)="saveData()">
                    </div>
                    <div class="col-6">
                        <label class="form-label mt-2">Y position</label>
                        <input type="number" class="form-control" placeholder="Skriv y position" *ngIf="map && map.speNodeSelected" [(ngModel)]="map.speNodeSelected.y" (change)="saveData()">
                    </div>
                </div>

                <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-lg btn-danger" type="button" (click)="onDeleteSpe()">Slet</button>
                </div>
            </div>
        </nav>
    </div>
</div>
