<div class="row g-0">
    <div class="col-10">
        <app-map></app-map>
    </div>
    <div class="col-2">
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
            <h3 class="text-center">SPE-A D17</h3>
            <div class="form-group mx-3">
                <label class="form-label mt-2">SPE navn</label>
                <input type="text" class="form-control" placeholder="Skriv SPE navn" value="SPE-A D17">

                <label class="form-label mt-2">Nøgle</label>
                <input type="text" class="form-control" placeholder="Skriv SPE nøgle" value="ABCDEF">
                <h5 class="mt-4 text-center">Sidste aktivites x min siden</h5>
                <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-lg btn-primary mt-auto" type="button">Slet</button>
                </div>
            </div>
        </nav>
    </div>
</div>