<div class="jumbotron vertical-center">
    <div class="container" style="width: 15%;">
        <div class="card">
            <h3 class="card-header">Lokationer</h3>
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleSelect1" class="form-label mt-4">Vælg lokation</label>
                    <select class="form-select">
                      <option>ZBC Ringsted</option>
                    </select>
                  </div>
                
    
                <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-lg btn-primary" type="button" onclick="window.location.href='/routes'">Gå til lokation</button>
                </div>
          </div>
    </div>
</div>