<div class="container">
  <div class="row g-4 mt-1">
    <div *ngFor="let chart of charts" class="col-6">
      <div class="shadow mb-5 bg-white rounded card mb-3" style="height: 384px;">
        <h3 class="card-header text-center"><b>{{chart.title}}</b></h3>
        <div *ngIf="chart.isEChart" echarts [options]="chart.getOptions()" class="demo-chart"></div>
        <div *ngIf="!chart.isEChart">
          <table class="table table-hover">
            <thead>
              <tr>
                <th *ngFor="let header of chart.getOptions().headers" scope="col">{{header}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of chart.getOptions().rows">
                <td *ngFor="let value of row.values">{{value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer text-muted mt-auto clean-footer">
          Sidst opdateret x min siden
        </div>
      </div>
    </div>
  </div>
</div>
