<div class="row g-0">
    <div  [ngClass]="{'col-10':itemSelected, 'col-12':!itemSelected}">
        <!-- <app-map></app-map> -->
        <img class="container" src="../../../assets/routes.png">
    </div>
    <div *ngIf="itemSelected" class="col-2 barAnimation">
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
            <h3 class="text-center">Rutepunkt P1</h3>
            <div class="form-group mx-3">
                <div class="form-check mt-4">
                    <input class="form-check-input" type="checkbox" value="">
                    <label class="form-check-label">Er destination</label>
                  </div>
                <label class="form-label mt-2">Destinations navn</label>
                <input type="text" class="form-control" placeholder="Skriv destinations navn">
                <h5 class="mt-4">Forbundet til: P2, P3</h5>
                <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-lg btn-primary" type="button">Slet</button>
                </div>
            </div>
        </nav>
    </div>
</div>